
/***********--SELECT--************/

.select-p {
    width: 100%;
    margin-top:4px;
    padding: 10px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}

.select-p option {
    padding: 8px 12px;
    font-size: 14px;
    background-color: white;
    color: #333;
    border:10px solid red;

}

.select-p:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}



.select-p option:hover {
    background-color: red;
}



/***********--BOTONES - GENERAL --************/
.btn-p {
    display: inline-block;
    padding: 10px 20px;
    color:white;
    background-color: #378fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 14px;
}


.btn-p:hover {
    background-color: white;
    color: #378fff;
    border:2px solid #378fff;
    padding: 8px 18px;
}






/***********-- TABLA --************/
td{
    text-align: center !important;
}

.action{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}






/***********--BOTONES - ESTADO TRACKING --************/

.btn-pend{
    padding: 9px;
    background-color: #CF480D;
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;

    /*
    width: 120px;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.2;
    */
}

.btn-rcb{
    padding: 8px;
    background-color: #ECCB44;
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-pro{
    padding: 8px;
    background-color: #ECCB44;
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-empa{
    padding: 8px;
    background-color: #ECCB44;
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;

}

.btn-ruta{
    padding: 8px;
    background-color: #ECCB44;
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-listo{
    padding: 8px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}








input{
    outline: none;
}

.input-div {
    display: flex;
    flex-direction: column;
   text-align: start;
    align-items: center;
}

.input-div2{
    display: flex;
    flex-direction: column;
    justify-content: start;

}


.input-div input {
    margin-top: 4px;
    width: 400px; /* Ancho del input */
    padding: 8px; /* Espacio interior del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados del input */
}

.input-div2 input {
    margin-top: 4px;
    width: 400px; /* Ancho del input */
    padding: 8px; /* Espacio interior del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados del input */

}




