.container{
    justify-content: center;
}

.container-track1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-orden{
    width: 50%;
    height: 100%;
    padding: 25px;
    margin: 0 10px;

}