<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienestar San Miguel | Farmacista</title>

    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/farmacista/farmacista.css}" rel="stylesheet" />
</head>

<header>
    <div class="login-top">
        <div>
            <a href="/farmacista"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
        </div>

        <div class="top-menu">
            <a class="text menu-item roboto-regular" href="/farmacista">Inicio</a>
            <a class="text menu-item roboto-regular" href="/farmacista/ordenes_venta">Ordenes de Venta</a>
            <a class="text menu-item roboto-regular" href="/farmacista/ordenes_web">Ordenes Web</a>
            <a class="text menu-item roboto-regular" href="/farmacista/pre_ordenes">Pre Ordenes</a>
        </div>
    </div>

</header>

<body>



</body>

</html>