
<!doctype html>
<html lang="es">


<head>


    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.4/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.4/dist/js/uikit-icons.min.js"></script>

</head>

<body>












                <div class="container" style="padding-left: 6rem; padding-right: 6rem">
                    <div class="uk-upload-box">
                        <div id="error-alert" class="uk-alert-danger uk-margin-top uk-hidden" uk-alert>
                            <p id="error-messages"></p>
                        </div>

                        <div class="drop__zone uk-placeholder uk-text-center">
                            <span uk-icon="icon: cloud-upload"></span>
                            <span class="uk-text-middle uk-margin-small-left">Adjunte arrastrando el archivo o</span>
                            <div uk-form-custom>
                                <input type="file" name="fileFoto" accept="image/png, image/jpeg, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document" required>
                                <span class="uk-link">seleccione la imagen</span>
                            </div>
                            <ul id="preview" class="uk-list uk-grid-match uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-5@xl uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-scale-up; target: .list-item; delay: 80"></ul>
                        </div>
                    </div>
                </div>


                <div class="uk-flex uk-flex-center uk-margin-top">
                    <div class="uk-flex uk-flex-center">
                        <a id="redirect-button" class="btn btn-secondary m-2" >Cancelar</a>
                        <button type="submit" class="btn btn-primary m-2">Guardar</button>
                    </div>
                </div>










</body>

</html>